.total-price {
    text-align: center;
    justify-content: center;
}

.pay-pal-buttons-home {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.food-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
   /* text-align: center;*/
}