/* Footer.css */
.footer-container {
    z-index: 0;
    background-color: #1b1b1b;
    color: #534d3e;
    text-align: center;
    /*padding: 10px;*/
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
}

.footer-text {
    margin: 5px 0;
    font-family: "Arapey", serif;
    color: #eebd7d;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.social-media-icons a {
    margin: 0 10px; /* Adjust the spacing between social media icons as needed */
}

.social-media-icons img {
    width: 25px; /* Adjust the width of the social media icons as needed */
    height: auto;
}

@media only screen and (max-width: 360px) {
    p {
        font-size: 16px;
    }
}