/* Logo.css */
.logo {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Vertically align items */
    height: 100%;
}

.logo-below {
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.logo-below img {
    height: 65%;
    align-items: center; /* Vertically align items */
}

.h2-below {
    font-family: "Arapey", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    margin: -5px;
    color: #eebd7d;
    text-align: center;
}

.h2-right {
    font-family: "Arapey", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 46px;
    margin-left: 20px;
    z-index: 100;
}

.logo img {
    width: 120px;
    height: 100%;
    padding: 10px;
}

.logo a {
    text-decoration: none;
    color: black;
    /*padding: 10px; /* Add padding for better clickability */
    /*  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
